td,
tbody,
table {
    border: 1px solid rgb(189 189 189);
    border-collapse: collapse;
}
.tr-month-name td{
    border: 1px solid rgb(189 189 189);
    border-bottom: none;
    text-align: left;
    
}

tbody {
    height: 280px;
}

td {
    text-align: center;
    padding: 5px;
    min-width: 110px;
}