.logo{
    width: 60px;
    border-radius: 50%;

}
.flex-container{
    display: flex;
    align-items: center;
}
.root{
    padding:5px 60px 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color--default);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 1px 0px 0px 1px !important;

    position: relative;
    z-index: 11;
    height: 70px;
}
@media only screen and (max-width: 1000px) {
    .root{
        padding:5px 20px 5px 10px;
    }
}
.project{
    font-size: 25px;
    font-weight: 500;
    margin-left: 20px;
}
.btn-r-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50% !important;
    width: 45px !important;
    height: 45px !important;
}
.btn-r-container:not(:first-child){
    margin-left: 20px;
}
.btn-r-container img{
    width: inherit;
    border-radius: 50%;
}
.btn-r-container img:hover{
    filter: brightness(80%);
}
.btn-r-container img:active{
    transform: scale(0.95);
}
.btn-r-container span:active{
    transform: scale(0.9);
}
.item{
    padding:10px 0px;
    font-weight: 400;
}

.main{
    padding:5px 10px;
    color: var( --color--text-default)!important;

}
.main li:hover{
    background-color: #F0F0F0!important;
}
.main li{
    border-radius: 10px !important;
}
