.calendar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
tr.tr-name-week{
    color: rgb(20, 34, 163);
    font-weight: bold;
}
.header-calendar{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}



.body-calendar tr,td{
    padding: 5px;
    text-align: center;
}