.root{
    display: flex;
    height: 100%;
    flex-direction: row;
}
.contacts-container{
    width: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--color--default);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
    position: relative;
    z-index: 9;
}
.messages-container{
    flex: 1 1;
}