.post{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: 95%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color--default);
    padding:12px;
    max-width: 1000px;
    min-width: 900;
    
}
.post:first-child{
    margin-top: 10px;
}

.Tdot{
    color:var(--color--text-default);
}
.love{
    color:var(--color--text-default);
    margin-right: 10px;
}
.love:hover{
    color:red !important;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.infor{
    display: flex;
    margin-left: 8px;
    flex-direction: column;
}
.post_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.post_body{
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 5px;
}
.post_footer{
    margin-top: 5px;
}
.comment{
    display: flex;
    padding:7px 10px;

}
.comment> img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.comment_input{
    width: 100%;
    max-height: 100px !important;
    overflow: hidden auto;
    background-color:var(--color--bg-drop) !important ;
}
.comment_data{
    display: flex;
    flex-direction: column;
    background-color: var(--color--bg-drop);
    padding:5px 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.comment_container{
    max-height: 250px;
    overflow: hidden auto;

}
.feature{
    display: flex;
    margin-top:5px;
    align-items: center;
    position: relative;
    justify-content: space-between;
}