.btnSideBar{
    position: absolute;
    left: 25px;
    scale: 1.2;
    top: -50px;
    z-index: 10;

}

.root{
    height: 100%;
    position: relative;
}
.root-width{
    width: 250px;
}
.menu {
    height: 100%;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 1px 0px 1px !important;

}
.menu li{
    height: 50px!important;
    display: flex!important;
    align-items: center!important;
}
.menu li span:first-child{
    scale: 1.2;
}

.menu span{
    
    font-weight: 500;
}
