.notMess {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;

    flex-direction: column;
    color:rgb(124, 124, 124) ;
}
