.features{
    position: absolute;
    display: flex;
    top:25px;
    right: 25px;
    
    z-index: 1;
   
}
.btn-c_a{
    margin-left: 10px;
}
.modal{
    width: 70% !important;

}

.modal-wrap{

    display: flex;
}
.nav{
    width: 100%;
    margin:15px 15px 15px 5px;
}
.content{
    margin:15px 15px 15px 5px;
    display: flex;
    flex-wrap: wrap;
}