.root{
    display: flex;
    height: 100%;
    flex-direction: row;
}

.board{
    flex: 1 1;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color--bg-default);
}
.overview{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    padding:15px 10px 10px 20px;
    background-color: var(--color--default);
}