.item{
    background-color: var(--color--default);
    /* width: 280px;*/
    position: relative;
    width: 100%;
    height: 165px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    flex: 0 0 auto;
    padding:15px;
    padding-right: 40px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;
}
.item:hover{
    background-color: #f0f0f0 !important;

}
.Tdot{
    position: absolute;
    top:15px;
    right:10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group{
    position: absolute;
    bottom: 15px;
}
.name{
    font-weight: 500;
}
.describe{
    margin-top: 5px;
    overflow: hidden;
    color:#555;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}