.root{
    height: calc(100vh - 520px);
    margin-bottom:20px;

}
.task-item{
    display: flex;
    padding: 15px 5px;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.task-item{
    margin-bottom: 15px;
    
}
.task-item >*{
    font-size: 16px !important;

}
.tasks-list{
    margin-top: 20px;
    display: flex;
    overflow-y:scroll ;
    height: 80%;
    min-height: 200px;
    width: 100%;
    flex-direction: column;
}
.tasks-list::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    position: relative;

    border-radius: 10px;
}
/* Track */
.tasks-list::-webkit-scrollbar-track {
    background: var(--color--default);
    border-radius: 10px;

}

/* Handle */
.tasks-list::-webkit-scrollbar-thumb {
    background: var(--color--default);
    transition:all 0.5s;

    border-radius: 10px;
}

.tasks-list:hover::-webkit-scrollbar-thumb {
    background: #BCC0C4;
}
