.GRTasks {
    width: 100%;

}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.box_1 {
    padding: 0px 10px;

}

.content {
    height: calc(100vh - 300px);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-bd-primary);
}

.header {
    padding: 7px 0px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid var(--color-bd-primary);

}

.del {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
}

.body {
    padding: 7px 0px;
    background-color: #fff;
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: 10px 0;
    height: 60px;
    border: 1px solid var(--color-bd-primary);
    border-radius: 5px;
}

.body:hover {
    background-color: var(--color--hover-li);
}

.main {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
}