.feature-container_right {
    flex: 1 1;
    position: relative;
}
.ellip-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wrap-container {
    padding: 10px 15px !important;
    height: 100%;
    width: 100%;
}
.bar-item-df {
    padding: 5px 15px;
    font-weight: 500;
}
.bar-item-sm {
    padding: 0px 10px;
    font-weight: 500;
}
.link-back{
    color: var(--color-text-default) !important;

}
.link-back:hover{
    color: var(--color-text-default) !important;
}