.feature-container_right {
    flex: 1 1;
    position: relative;
}
.u-item-selected {
    background-color: #49494a !important;
}
.ant-input-affix-wrapper-disabled {
    background-color: var(--color--disabled) !important;
}
.ant-input-affix-wrapper-disabled * {
    color: var(--color--text-disabled_input) !important;
}
.wrap-box *:not(button) {
    color: var(--color-text-default);
}
.ellip-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wrap-container_config > div:nth-child(1) {
    margin: 10px 15px !important;
}
.wrap-container_config > div:nth-child(2) {
    box-shadow: var(--color--line) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
}

.wrap-container > div:nth-child(1) {
    margin-bottom: 10px !important;
}
.wrap-container {
    padding: 10px 15px !important;
    height: 100%;
    width: 100%;
}
.ant-collapse-header {
    padding: 0 !important;
    color: #0037ac !important;
}
.ant-collapse-content-box {
    padding: 4px 16px !important;
}
.ant-collapse-content-active {
    margin-top: 4px !important;
}
.bar-item-df {
    padding: 5px 15px;
    font-weight: 500;
}
.ant-upload-list-item{
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}
.uploadTask .ant-upload-wrapper .ant-upload-list .ant-upload-list-item{
    margin-top: -10px !important;
}
.bar-item-sm {
    padding: 0px 10px;
    font-weight: 500;
}
.ant-spin-nested-loading{
    height: 100%;
}
.ant-spin-container{
    height: inherit;
}
.dark .ant-input,.dark .ant-picker{
    color:var(--color--text-default) !important;
    background-color: #574949 !important;
}
.dark .ant-picker-panel-container{
    background-color: var(--color--default) !important;
    
}
.dark .ant-picker .ant-picker-clear{
    background-color: #574949 !important;
}
.dark .ant-picker-dropdown .ant-picker-time-panel-column >li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner{
    background-color: var(--color--hover-li) !important;
}
.ant-picker-dropdown .ant-picker-time-panel-column >li.ant-picker-time-panel-cell:hover{
    background-color: var(--color--hover-li) !important;
    border-radius:3px ;

}
.dark .search-member-filtered{
    background-color: #272424  !important;
}
.dark .search-member-filtered-item{
    background-color:#434242 !important;
}
.dark .ant-input-affix-wrapper {
    background-color: #574949 !important;

}
.ant-input-search .ant-input-search-button {
    height: 31.6px !important;
}
.dark .ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary){
    background-color: #574949 !important;

}
.dark .ant-drawer .ant-drawer-close{
    color: var(--color--text-default) !important;
}
.dark .ant-modal-root .ant-modal-mask{
    background-color: rgb(206 206 206 / 45%) !important;
}
.dark .ant-select:not(:where(.css-dev-only-do-not-override-9ntgx0).ant-select-customize-input) .ant-select-selector{
    color:var(--color--text-default) !important;
    background-color: #574949 !important;
}
.dark .ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled){
    background-color: #574949 !important;
    color:var(--color--text-default) !important;
}
.dark .ant-select-dropdown{
    background-color: #574949 !important;
}
.dark .ant-select-dropdown .ant-select-item-option-disabled{
    color:var(--color--text-disabled_input) !important;
}
.dark .ant-modal .ant-modal-content{
    color: var(--color--text-default) !important;
    background-color: var(--color--default) !important;
}
.dark .ant-modal .ant-modal-title{
    background-color: var(--color--default) !important;
    color: var(--color--text-default) !important;

}
.dark .ant-modal .ant-modal-close-x{
    color: var(--color--text-default) !important;

}
.dark input::placeholder,
.dark textarea::placeholder{
    color: #ccc !important;
}
.dark .ant-picker-input >input{
    color:var(--color--text-default) !important;

}
.dark .ant-picker-panel-container *{
    color:var(--color--text-default) !important;
    
}
.link-back {
    color: var(--color-text-default) !important;
}
.ant-btn-primary:disabled{
    background-color: rgb(255 223 223 / 50%);
}
.mg-b_10 {
    margin-bottom: 10px;
}
.mg-r_5_ct > * {
    margin-right: 5px;
    margin-top: 5px;
}
.mg-r_5_ct > *:last-child {
    margin-right: 0px;
}
.ant-collapse-content-box {
    display: flex !important;
    flex-direction: column !important;
}
.link-back:hover {
    color: var(--color-text-default) !important;
}
.post {
    width: 70% !important;
    max-width: 900px;
    min-width: 400px;
}
.post .ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: transparent;
}


/* Snow Theme */
.post .ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.post .ql-bubble .ql-editor {
    border: 1px solid var(--color-bd-primary);
    border-radius: 0.5em;
}
.ql-toolbar.ql-snow {
    font-family: "Roboto", sans-serif !important;
}
.ql-container.ql-snow {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 18em;
}
.post .ql-editor {
    min-height: 10em;
}
.uploadAvt .ant-upload-list-item{
    border: none !important;
    padding: none !important;
    width: 150px !important;
    height: 150px !important;
    max-width: none !important;
    min-width: none !important;
}



.uploadAvt .ant-upload-select{
    width: 0!important;
    height: 0!important;
    border: none !important;
}