.general{
    width: 100%;
    background-color: var(--color--bg-default);
    padding:5px 10px 10px 10px;

}
.general_header{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0px;
}
.general_body{
    height: calc(100vh - 300px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    
}
.skeleton_post{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: 95%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color--default);
    padding:12px;
    max-width: 1000px;
    min-width: 900;
    
}