.general{
    width: 100%;
    background-color: var(--color--bg-default);
    padding:5px 10px 10px 10px;

}
.general_header{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0px;
}
.general_body{
    height: calc(100vh - 300px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    
}
