.search-member-container {
    max-height: 200px;
    z-index: 99;
    background-color: var(--color--default);
    overflow: auto;
    margin-top: 5px;
    position: absolute;
}

.search-member-item {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.search-member-filtered {
    padding: 10px;
    background-color: #f5f5f5;
    max-height: 100px;
    overflow: auto;
    width: 95%;
}

.search-member-filtered input {
    min-width: 1000px;
}

.search-member-filtered-item {
    max-width: 1000px;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10;
    overflow: hidden;
    margin: 5px;
    position: relative;
}

.search-member-item:hover {
    cursor: pointer;
    background-color: var(--color--hover-li);
}